<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>header</title>
    <!--css-->
    <link href="{{ url_for('static', filename='css/header.css') }}" rel="stylesheet">
</head>
<body>
    <!--헤더, 네비게이션 바-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">playRe:st</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
                <button type="button" class="btn btn-outline-dark" type="submit">검색</button>
            </form>

            <div class="login-btn">
                <a href="login">Login</a> <!--추후 api 연결 필요-->
            </div>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    hazel님 안녕하세요!
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">마이페이지</a>
                    <a class="dropdown-item" href="#">로그아웃</a>
                </div>
            </div>
        </div>
    </nav>
</body>
</html>