<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--favicon-->
    <link rel="shortcut icon" href="/static/icon/favicon.ico" type="image/x-icon">

    <!--google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;500&display=swap" rel="stylesheet">

    <!--css-->
    <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap js -->
    <!--부트스트랩 템플릿에 이미 jQuery가 임포트 돼있음-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>playRe:st</title>

    <meta property="og:title" content="playRe:st" />
    <meta property="og:description" content="플레이리스트를 공유해주세요!" />
    <meta property="og:image" content="{{ url_for('static', filename='logo.png') }}" />


    <style>
        .btn-playlist {
            background-color: aqua;
            width: 100px;
            height: 50px;
        }
    </style>

    <script>

        $(document).ready(function () {
            showList();
            showLikelist();
        });

        function showList() {
            $.ajax({
                type: 'GET',
                url: '/list',
                data: {},
                success: function (response) {
                    let allPlaylists = response['data']
                    for (let i = 0; i < allPlaylists.length; i++) {
                        let playlist_num = allPlaylists[i]['playlist_num']
                        let user_name = allPlaylists[i]['user_name']
                        let playlist_title = allPlaylists[i]['playlist_title']
                        let album_img = allPlaylists[i]['playlist_music'][0]['music_album'] // 대표 앨범아트

                        let temp_html = `<div class="card" style="width: 13rem;" onclick="movePlaylistInfo(${playlist_num})">
                                            <img class="card-img-top"
                                                 src="${album_img}"
                                                 alt="Card image cap">
                                            <div class="card-body">
                                                <h5 class="card-title">${playlist_title}</h5>
                                                <p class="card-text playlist-owner-name">만든 이: ${user_name}</p>
                                            </div>
                                        </div>`
                        $('#allPlaylist').append(temp_html)
                    }
                }
            })
        }

        // 좋아요한 플리 출력
        function showLikelist() {
            $.ajax({
                type: 'GET',
                url: '/mypage/likelist',
                data: {},
                success: function (response) {
                    // alert("좋아요 목록 연결!")
                    let likePlaylists = response['data']

                    for (let i = 0; i < likePlaylists.length; i++) {
                        let playlist_num = likePlaylists[i]['playlist_num']
                        let user_name = likePlaylists[i]['user_name']
                        let playlist_title = likePlaylists[i]['playlist_title']
                        let album_img = likePlaylists[i]['playlist_music'][0]['music_album']

                        let temp_html = `<div class="card" style="width: 13rem;" onclick="movePlaylistInfo(${playlist_num})">
                                            <img class="card-img-top"
                                                 src="${album_img}"
                                                 alt="Card image cap">
                                            <div class="card-body">
                                                <h5 class="card-title">${playlist_title}</h5>
                                                <p class="card-text playlist-owner-name">만든 이: ${user_name}</p>
                                            </div>
                                        </div>`
                        $('#myPlaylist').append(temp_html)

                    }
                }
            })
        }

        //플리 개별 정보 페이지로 이동하는 함수
        function movePlaylistInfo(playlistNum) {
            console.log(playlistNum)
            localStorage.setItem('playlistNum', playlistNum)
            window.location.href = '/playlist'
        }

    </script>

</head>
<body>
    <!--header 삽입-->
    {% include 'fragments/header.html' %}

    <div id="video-section">
        <video id="main-video" autoplay loop muted>
            <source src="{{url_for('static', filename='video/record.mp4') }}" type="video/mp4">
            Sorry, your browser doesn't support embedded videos.
        </video>
    </div>

    <div class="container">
        <div class="section">
            <div class="title">
                <h2>플레이리스트 둘러보기</h2>
                <div id="playlist-rank">좋아요를 많이 받은 플레이리스트들 입니다.</div>
            </div>
            <!--모든 플리 출력 되는 영역-->
            <div class="row" id="allPlaylist"></div>
        </div>

        <div class="section">
            <div class="title">
                <h2>좋아요 한 플레이리스트</h2>
            </div>
            <!--좋아요 한 플리 출력 되는 영역-->
            <div class="row" id="myPlaylist"></div>
        </div>
    </div>

    <!--footer 삽입-->
    {% include 'fragments/footer.html' %}
</body>
</html>