body {
    margin: 0;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

h2 {
    font-weight: bold;
    color: #2f3640;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:hover {
    color: black;
    text-decoration: none;
}