<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;500&display=swap" rel="stylesheet">

    <!--css-->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/myPage.css') }}" rel="stylesheet">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap js -->
    <!--부트스트랩 템플릿에 이미 jQuery가 임포트 돼있음-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


    <title>마이페이지 - playRe:st</title>
    <style>
        .btn-playlist {
            background-color: aqua;
            width: 100px;
            height: 50px;
        }
    </style>
    <script>
        $(document).ready(function () {
            showMylist();
            showLikelist()
        });

        //플리 개별 정보 페이지로 이동하는 함수
        function movePlaylistInfo(playlistNum) {
            console.log(playlistNum)
            localStorage.setItem('playlistNum', playlistNum)
            window.location.href = '/playlist'
        }

        function showMylist() {
            $.ajax({
                type: 'GET',
                url: '/mylist',
                data: {},
                success: function (response) {
                    //alert("내 목록 연결!")
                    let myPlaylists = response['data']
                    let listCount = Object.keys(myPlaylists).length; // 전달한 플리 데이터 개수

                    console.log(myPlaylists, listCount)

                    for (let i = 0; i < myPlaylists.length; i++) {
                        let playlist_num = myPlaylists[i]['playlist_num']
                        let user_name = myPlaylists[i]['user_name']
                        let playlist_title = myPlaylists[i]['playlist_title']
                        let album_img = myPlaylists[i]['playlist_music'][0]['music_album'] // 대표 앨범아트

                        let temp_html = `<div class="card" id="card" style="width: 13rem;" onclick="movePlaylistInfo(${playlist_num})">
                                            <img class="card-img-top"
                                                 src="${album_img}"
                                                 alt="Card image cap">
                                            <div class="card-body">
                                                <h5 class="card-title">${playlist_title}</h5>
                                                <p class="card-text">만든 이: ${user_name}
                                                    <a id="delete-btn" onclick="deleteList('${playlist_num}')"><img class ="delete-btn-img" src="static/icon/delete_btn.png"></a>
                                                </p>
                                            </div>
                                        </div>`

                        $('#myPlaylist').append(temp_html)
                        $('#count-result').text(listCount)
                    }
                }
            })
        }

        function showLikelist() {
            $.ajax({
                type: 'GET',
                url: '/mypage/likelist',
                data: {},
                success: function (response) {
                    // alert("좋아요 목록 연결!")
                    let likePlaylists = response['data']

                    for (let i = 0; i < likePlaylists.length; i++) {
                        let playlist_num = likePlaylists[i]['playlist_num']
                        let user_name = likePlaylists[i]['user_name']
                        let playlist_title = likePlaylists[i]['playlist_title']
                        let album_img = likePlaylists[i]['playlist_music'][0]['music_album']

                        let temp_html = `<div class="card" id="card" style="width: 13rem;" onclick="movePlaylistInfo(${playlist_num})">
                                            <img class="card-img-top"
                                                 src="${album_img}"
                                                 alt="Card image cap">
                                            <div class="card-body">
                                                <h5 class="card-title">${playlist_title}</h5>
                                                <p class="card-text">만든 이: ${user_name}</p>
                                            </div>
                                        </div>`

                        $('#likePlaylist').append(temp_html)
                    }
                }
            })
        }

        function deleteList(num) {
            $.ajax({
                type: 'POST',
                url: '/mypage/delete',
                data: {num_give:num},
                success: function (response) {
                    //삭제하기 전에 삭제 하시겠습니까? 메시지가 뜨면 좋을 것 같아요
                    alert(response['msg']);
                    window.location.reload()
                }
            });
        }
    </script>
</head>
<body>
    <!--header 삽입-->
    {% include 'fragments/header.html' %}

    <div class="container">
        <div class="section" id="mypage-title">
            <div class="title">
                <h1>{{session['user_name']}}의 마이페이지 🎧 </h1>
            </div>
            <!--플리 개수-->
            <div id="list-count"><li>공개 플레이리스트: <span id="count-result">0</span>개</li></div>
        </div>

        <hr/>

        <div class="section">
            <div class="title">
                <h2>나의 플레이리스트</h2>
            </div>
            <!--내 플리 출력 되는 영역-->
            <div class="row" id="myPlaylist"></div>
        </div>

        <div class="section">
            <div class="title">
                <h2>좋아요 한 플레이리스트</h2>
            </div>
            <!--좋아요 한 플리 출력 되는 영역-->
            <div class="row" id="likePlaylist"></div>
        </div>
    </div>
    <!--footer 삽입-->
    {% include 'fragments/footer.html' %}
</body>
</html>
