<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--favicon-->
    <link rel="shortcut icon" href="/static/icon/favicon.ico" type="image/x-icon">

    <!--google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;500&display=swap" rel="stylesheet">

    <!--css-->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>로그인 - playRe:st</title>

    <script>
        function login() {
            let login_id = $('#login-id').val()
            let login_pw = $('#login-pw').val()
            $.ajax({
                type: "POST",
                url: "/login",
                data: {id_give: login_id, pw_give: login_pw},
                success: function (response) {
                    alert(response["msg"]);
                    window.location.href = '/'; //로그인 성공 시 홈으로 이동
                }
            })
        }
    </script>

</head>
<body>
<!--header 삽입-->
{% include 'fragments/header.html' %}
<div style="width:100%; height: 100px;">

</div>
<div class="id-box">
    <form name='form' action="/login" method="POST">
        <h1 class="navbar-brand home-logo login-logo" id="home-logo">
            <div class="font-size">Enter the</div>
            <div class="font-size">playRe:st !</div>
        </h1>
        <p><input type="text" name="id" id="login-id" placeholder="ID" class="login-box form-control mr-sm-2"/></p>
        <p><input type="password" name="pw" placeholder="Password" id="login-pw" class="form-control mr-sm-2"/></p>
        <button type="button" onclick="login()" class="login-bnt">로그인</button>
        <div class="sign-up-margin">
            <div id="or">or</div>
            <a href="/signup" style="margin: 10px;" class="sign-up-btn">회원가입</a>
        </div>

    </form>
</div>
    <!--footer 삽입-->
    {% include 'fragments/footer.html' %}
</body>
</html>