<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;500&display=swap" rel="stylesheet">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>음악 검색 - playRe:st</title>

    <!--css-->
    <link rel="stylesheet" href="static/css/search.css">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <!--<script src="static/js/search.js"></script>-->
    <script>
        $(document).ready(function () {
             if(localStorage.getItem('searchKeyword')){
                 let musicKeyword = localStorage.getItem('searchKeyword')
                 document.getElementById("songinfo").value = musicKeyword;
                 searchPlaylists();
                 console.log(musicKeyword)
             }

        });

        // 노래가 들어간 플레이리스트 검색
        // 검색 버튼 눌렀을 때 onclick으로 이 함수 호출해주시면 될 거예요
        function searchPlaylists() {
            let keyword = $('#songinfo').val()
            $.ajax({
                type: 'GET',
                url: '/search/playlists?keyword_give=' + keyword + '',
                success: function (response) {
                    //alert('검색!')
                    let playlists = response['data']
                    console.log(playlists)
                    for (let i = 0; i < playlists.length; i++) {
                        let playlist_num = playlists[i]['playlist_num']
                        let playlist_title = playlists[i]["playlist_title"]
                        let temp_html = `<tr>
                                                <td>${playlist_title}</td>
                                                <td></td>
                                                <td></td>
                                         </tr>`
                        $('#list-q1').append(temp_html);
                    }
                    searchMusic()   // 일단은 플레이리스트 목록 뜨고 음악 목록 뜨도록 설정해뒀습니다 나중에 변경하시면 돼요!
                }
            })
        }

        // 음악 검색
        function searchMusic() {
            let musicKeyword = $('#songinfo').val()
            $.ajax({
                type: 'GET',
                url: '/search/musics?musicKeyword=' + musicKeyword,
                success: function (response) {
                    //alert("ajax 성공")
                    console.log(response['result'])
                    musics = response['result']
                    console.log(musics[0])
                    for (let i = 0; i < musics.length; i++) {
                        let albumTitle = musics[i]["name"]
                        let albumArtist = musics[i]["artists"][0]['name']
                        // 검색방법 1) 앨범 검색에서 이미지 갖고오기
                        // let albumImg = albums[i]['images'][0]['url']
                        // 검색방법 2) 음악 검색에서 이미지 갖고오기
                        let albumImg = musics[i]['album']['images'][0]['url']
                        let previewMusic = musics[i]["preview_url"]
                        console.log(previewMusic)

                        let temp_html = `<tr>
                                        <td><img src="${albumImg}" width="80px" height="80px"></td>
                                        <td class="Title_css">${albumTitle}</td>
                                        <td class="Artist_css">${albumArtist}</td>
                                        <td>
                                            <audio controls>
                                              <source src='${previewMusic}' type="audio/mpeg">
                                            </audio>
                                        </td>
                                        <td><button onclick="addMusic('${albumTitle}','${albumArtist}','${albumImg}')" class="bnt_add">추가</button></td>
                                 </tr>`
                        $('#list-q1').append(temp_html);
                    }

                }
            })
        }

        // 노래 담을 플레이리스트 선택
        function selectPlaylist(title, artist, album) {
            console.log(title, artist, album)
            $.ajax({
                type: 'GET',
                url: '/search/select',
                data: {},
                success: function (response) {
                    alert('연결!')
                    let myPlaylists = response['data']
                    console.log(myPlaylists)
                    console.log(title)
                    for (let i = 0; i < myPlaylists.length; i++) {
                        let playlist_title = myPlaylists[i]["playlist_title"]
                        let playlist_num = myPlaylists[i]['playlist_num']
                        let temp_html = `<tr>
                                     <td>${playlist_title}</td>
                                     <td></td>
                                     <td><button onclick="addMusic('${playlist_num}','${title}','${artist}','${album}')">추가</button></td>
                                </tr>`
                        $('#list-q1').append(temp_html);
                    }
                }
            });
        }

        // 노래 선택 후 새 플레이리스트 생성할 때 쓰시면 됩니다
        // 제목 : <input type="text" id="playlist-title"/>
        // <textarea placeholder="플레이리스트 설명" id="playlist-desc"></textarea>
        // <button onClick="createPlaylist('${title}','${artist}','${album}')">생성</button>

        // 선택한 플레이리스트에 노래 추가
        function addMusic(num, title, artist, album) {
            console.log(num, title, artist)
            $.ajax({
                type: 'POST',
                url: '/search/select/add',
                data: {num_give: num, title_give: title, artist_give: artist, album_give:album},
                success: function (response) {
                    alert(response['msg']);
                    window.location.reload()
                }
            });
        }

        function createPlaylist(title, artist, album) {
            let playlist_title = $('#playlist-title').val()
            let playlist_desc = $('#playlist-desc').val()
            $.ajax({
                type: "POST",
                url: "/search/select/create",
                data: {playlist_give:playlist_title, desc_give:playlist_desc, title_give:title, artist_give:artist, album_give:album},
                success: function (response) {
                    alert(response["msg"]);
                    window.location.reload();
                }
            })
        }

    </script>


</head>

<!--<body>-->
<!--header 삽입-->
{% include 'fragments/header.html' %}
<body>
<div class="container">
    <div class="section" id="mypage-title">
        <div class="title">
            <h2>곡 검색 결과 🎼</h2>
        </div>
    </div>
</div>

<div class="searchbar_css" id="searchbar">
    <form class="form-inline my-2 my-lg-0" id="search-form">
        <input id="songinfo" type="text" placeholder="Search" aria-label="Search" size="80px"/>
        <button type="button" class="btn btn-outline-dark" id="search-btn" type="submit" onclick="searchMusic()">검색</button>
    </form>
</div>
<div class="wrap">
    <div class="music_css">
        <table>
            <thead>
            <tr>
                <td></td>
                <td>제목</td>
                <td>가수</td>
                <td>미리 듣기</td>
            </tr>
            </thead>
            <tbody id="list-q1"></tbody>
        </table>
    </div>
    <div class="playlist_css" id="playlist">

    </div>

</div>

</body>

</html>
