<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>노래 검색하는 사이트</title>
    <style>
        .searchbar_css {
            width: 100%;
            height: 250px;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .music_css {
            width: 33%;
            height: 550px;
            float: left;
        }

        .playlist_css {
            width: 67%;
            height: 550px;
            float: right;
        }

        .wrap {
            width: 100%;
            height: 500px;
        }
    </style>

    <script>
        function searchMusic() {
            let musicKeyWord = $('#songinfo').val()
            $.ajax({
                type: 'GET',
                url: 'http://ws.audioscrobbler.com/2.0/?method=track.search&track=' + musicKeyWord + '&api_key=36e6ecdb6e67403d6448be2bca4e77ce&format=json',
                success: function (response) {
                    alert("ajax success")
                    let musicList = response["results"]["trackmatches"]["track"];
                    for (let i = 0; i < musicList.length; i++) {
                        let albumTitle = musicList[i]["name"]
                        let albumArtist = musicList[i]["artist"]

                        let temp_html = `<div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1"> ${albumTitle} </h5>
                                            </div>
                                            <p class="mb-1"> ${albumArtist} </p>
                                            </a>
                                        </div>`
                        $('#list-q1').append(temp_html);
                    }
                }
            })
        }

        function addMusic(title, artist) {
            console.log(title, artist)
            $.ajax({
                type: 'POST',
                url: '/addMusic',
                data: {title_give: title, artist_give: artist},
                success: function (response) {
                    alert(response['msg']);
                    window.location.reload()
                }
            });
        }
    </script>

</head>

<body>
<div class="searchbar_css" id="searchbar">
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control" id="songinfo" type="search" placeholder="Search" aria-label="Search" size="80px"/>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="searchMusic()">Search</button>
    </form>
</div>
<div class="wrap">
    <div class="music_css" id="musiclist">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1"> Aespa </h5>
                </div>
                <p class="mb-1"> Next level </p>
            </a>
        </div>
    </div>
    <div class="playlist_css" id="playlist">

    </div>

</div>
</body>

</html>