<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--favicon-->
    <link rel="shortcut icon" href="/static/icon/favicon.ico" type="image/x-icon">

    <!--google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;500&display=swap" rel="stylesheet">

    <!--css-->
    <link rel="stylesheet" href="static/css/search.css">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <!--<script src="static/js/search.js"></script>-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="Scripts/bootstrap.min.js"></script>

    <title>음악 검색 - playRe:st</title>

    <script>
        $(document).ready(function () {
            //$("#home-search-bar").hide()

            if (localStorage.getItem('searchKeyword')) {
                let musicKeyword = localStorage.getItem('searchKeyword')
                document.getElementById("songinfo").value = musicKeyword;
                searchMusic()
                console.log(musicKeyword)
            }

        });

        // 음악 검색
        function searchMusic() {
            let musicKeyword = $('#songinfo').val()
            $.ajax({
                type: 'GET',
                url: '/search/musics?musicKeyword=' + musicKeyword,
                success: function (response) {
                    console.log(response['result'])
                    var musics = response['result']
                    console.log(musics[0])
                    $('#list-q1').empty();
                    for (let i = 0; i < musics.length; i++) {
                        let albumTitle = musics[i]["name"]
                        let albumArtist = musics[i]["artists"][0]['name']
                        // 검색방법 1) 앨범 검색에서 이미지 갖고오기
                        // let albumImg = albums[i]['images'][0]['url']
                        // 검색방법 2) 음악 검색에서 이미지 갖고오기
                        let albumImg = musics[i]['album']['images'][0]['url']
                        let previewMusic = musics[i]["preview_url"]
                        albumTitle = albumTitle.replace("\'", "’")
                        albumArtist = albumArtist.replace("\'", "’")

                        let temp_html = `<tr>
                                        <td><img src="${albumImg}" width="80px" height="80px" id="album-img-round"></td>
                                        <td class="Title_css">${albumTitle}</td>
                                        <td class="Artist_css">${albumArtist}</td>
                                        <td>
                                            <audio controls>
                                              <source src='${previewMusic}' type="audio/mpeg">
                                            </audio>
                                        </td>
                                        <td>
                                            <div class="btn-group dropright">
                                              <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" onclick="selectPlaylist('${albumTitle}', '${albumArtist}', '${albumImg}')">
                                                추가
                                              </button>
                                              <div class="dropdown-menu append-playlist">
                                                <a class="dropdown-item" onclick="createPlaylist('${albumTitle}', '${albumArtist}', '${albumImg}')">새 플레이리스트</a>
                                                <div class="dropdown-divider"></div>
                                              </div>
                                            </div>
                                        </td>
                                 </tr>`
                        $('#list-q1').append(temp_html);
                    }
                }
            })
        }

        // 노래 담을 플레이리스트 선택
        function selectPlaylist(title, artist, album) {
            console.log(title, artist, album)
            $.ajax({
                type: 'GET',
                url: '/search/select',
                data: {},
                success: function (response) {
                    let myPlaylists = response['data']
                    console.log(myPlaylists)
                    console.log(title)

                    $('.my-playlist').remove(); // 이전에 append 한 플리 이름 초기화

                    for (let i = 0; i < myPlaylists.length; i++) {
                        let playlist_title = myPlaylists[i]["playlist_title"]
                        let playlist_num = myPlaylists[i]['playlist_num']

                        let temp_html = `<a class="dropdown-item my-playlist" onclick="addMusic('${playlist_num}', '${title}', '${artist}', '${album}')">${playlist_title}</a>`

                        $('.append-playlist').append(temp_html);
                    }
                }
            });
        }

        // 선택한 플레이리스트에 노래 추가
        function addMusic(num, title, artist, album) {
            console.log(num, title, artist)
            $.ajax({
                type: 'POST',
                url: '/search/select/add',
                data: {num_give: num, title_give: title, artist_give: artist, album_give: album},
                success: function (response) {
                    alert(response['msg']);
                    // window.location.reload()
                }
            });
        }

        function createPlaylist(title, artist, album) {
            $.ajax({
                type: "POST",
                url: "/search/select/create",
                data: {title_give: title, artist_give: artist, album_give: album},
                success: function (response) {
                    alert(response["msg"]);
                    window.location.reload();
                }
            })
        }

    </script>
</head>

<!--<body>-->
<!--header 삽입-->
{% include 'fragments/header.html' %}
<body>
<div class="container">
    <div class="section" id="mypage-title">
        <div class="title">
            <h2 style="padding-left: 40px">곡 검색 결과 🎼</h2>
        </div>
    </div>
    <div class="searchbar_css" id="searchbar">
        <form class="form-inline my-2 my-lg-0" id="search-form" onsubmit="return false;">
            <input id="songinfo" type="text" placeholder="Search" aria-label="Search" size="80px" onkeydown="if(window.event.keyCode == 13){console.log('엔터 키 인식')
                searchMusic()}"/>
            <button type="button" class="btn btn-outline-dark" id="search-btn" type="submit" onclick="searchMusic()">
                검색
            </button>
        </form>
    </div>
</div>

<div class="wrap">
    <div class="music_css">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th>앨범</th>
                <th>제목</th>
                <th>가수</th>
                <th>미리 듣기</th>
                <th>추가</th>
            </tr>
            </thead>
            <tbody id="list-q1"></tbody>
        </table>
    </div>

</div>

</body>

</html>