<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;500&display=swap" rel="stylesheet">

    <!--css-->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>회원가입 - playRe:st</title>

    <script>
        function signup() {
            let user_id = $('#new-id').val()
            let user_pw = $('#new-pw').val()
            let user_name = $('#new-name').val()

            $.ajax({
                type: "POST",
                url: "/signup",
                data: {newid_give:user_id,newpw_give:user_pw,newname_give:user_name},
                success: function (response) {
                    alert(response["msg"]);
                    window.location.href = '/login'; // 회원가입 후 로그인 창으로 감
                }
            })
        }
    </script>
</head>

<body>
<!--header 삽입-->
{% include 'fragments/header.html' %}
    <form action="/signup" method="post">
        <p>id : <input type="text" name="id" id="new-id"/></p>
        <p>pw : <input type="password" name="pw" id="new-pw"/></p>
        <p>name : <input type="text" name="name" id="new-name"/></p>
        <button type="button" onclick="signup()">제출</button>
    </form>
</body>

</html>
